.companies {
  padding: 10px;
  margin: 0px auto;
  width: 900px;
  font-family: 'ArialMT', 'Arial';
}

.companies-title {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #333333;
}

.companies-empty {
  margin-top: 20px;
}
