.search {
  max-width: 800px;
  margin: 10px auto;
}

.search > div {
  margin: 10px 0;
}

.search input {
  width: 379px;
  font-family: 'ArialMT', 'Arial';
  font-size: 18px;
  padding: 5px;
}

.search-title {
  font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}